/* General container styling */

.height-300vh {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.background-image {
    margin-top: 80px; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Ensures the image is in the background */
  }
  
  .text {
    margin-top: 100px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: #fff; /* Adjust color to make text readable */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Add shadow for better readability */
    font-weight: bold;
    text-align: center;
  }
  
  /* Example for responsive design */
  @media (max-width: 768px) {
    .text {
      font-size: 2rem;
    }
  
    .height-300vh {
      height: 150vh; /* Adjust height for smaller devices */
    }
  }
  